<table class="ui celled table">
    <thead>
      <tr>
        <th>Email</th>
        <th colspan="3"></th>
    </tr></thead>
    <tbody>
      <% users.each do |user| %>
      <tr>
        <td><%= link_to user.email, "/users/#{user.id}" %></td>
        <td>
          <%= button_to user.admin ? 'Remove Admin' : 'Make Admin', user.admin ? remove_admin_path : make_admin_path, params: {id: user.id}, data: { confirm: 'Are you sure?' }, class: "btn btn-link", style: "text-decoration: none" %>
        </td>
        <td>
          <%= button_to user.clerk ? 'Remove Clerk' : 'Make Clerk', user.clerk ? remove_clerk_path : make_clerk_path, params: {id: user.id}, data: { confirm: 'Are you sure?' }, class: "btn btn-link", style: "text-decoration: none" %>
        </td>
        <td><%= link_to 'Destroy', users_path(user), method: :delete, data: { confirm: 'Are you sure?' }, style: "text-decoration: none" %></td>
      </tr>
    <% end %>
  </table>