<table class="ui celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price(For One)</th>
        <th>Total Price</th>  
    </tr></thead>
    <tbody>
      <% items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td>x<%= item.quantity %></td>
        <td>₹ <%= item.price %></td>
        <td>₹ <%= item.price * item.quantity %></td>
      </tr>
    <% end %>
  </table>