<h1 class="my-4">Delivered Orders</h1>
<hr>

<% if @delivered_orders.count > 0 %>
    <%= render 'list', orders:@delivered_orders %>
    <div class="my-5 pb-5">
        <%= will_paginate @delivered_orders, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
    </div>
<% else %>
    <p class="lead text-muted">No Delivered Orders</p>
<% end %>