<h1 class="my-4">Pending Orders</h1>
<hr>

<% if true %>
    <%= render 'list', orders:@pending_orders %>
    <div class="my-5 pb-5">
        <%= will_paginate @pending_orders, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
    </div>
<% else %>
    <p class="lead text-muted">No Pending Orders</p>
<% end %>
