<div id="mycart" class="small-10 small-centered medium-8 large-8 column">
  <h1 class="mt-5 mb-4">My Cart (<span class="cart-count"><%=current_user.cart_count%></span>)</h1>
  <%= render 'list', cart_items:@items %>
  <p class="lead my-5" style="font-size: 25px;">Total Price: ₹ <%= @items.reduce(0) {|sum, cart_item| sum + cart_item[:item].price * cart_item[:quantity].to_i} %></p>

  <% order_create_params = [] %>
  <% @items.each do |cart_item| %>
    <% order_create_params.push({:id => cart_item[:item].id, :name => cart_item[:item].name, :price => cart_item[:item].price, :quantity => cart_item[:quantity]}) %>
  <% end %>

  <%= button_to "Proceed to Checkout", order_path, params: {items: order_create_params.to_json}, class: "ui secondary button"%>
</div>