<h1 class="mt-5 mb-4">Editing Item</h1>

<%= render 'form', item: @item %>

<%= link_to 'Show', @item, class: "ui button mt-4 secondary" %>
<%= link_to 'Back', items_path, class: "ui button mt-4 secondary" %>
