<p id="notice"><%= notice %></p>

<h1 class="my-5">Menu (<%= @items.count %>)</h1>

<%= render 'list', items:@items %>

<br>

<% if user_signed_in? &&  current_user.admin? %>
<hr>
    <%= link_to 'New Item', new_item_path, class: "ui button"  %>
<% end %>