<p id="notice"><%= notice %></p>

<h1 class="mt-5 mb-4">Menu</h1>

<%= render 'list', items:@items %>

<br>

<% if user_signed_in? &&  current_user.admin? %>
    <%= link_to 'New Item', new_item_path, class: "ui button"  %>
<% end %>