<h1 class="mt-4">Menu (<%= @items.count %>)</h1>
<hr class="mb-5">

<%= render 'list', items:@items %>
<div class="my-5 pb-5">
    <%= will_paginate renderer: WillPaginateSemanticUi::ActionView::Renderer %>
</div>
