.panel {
  position: sticky;
  bottom: 0;
  margin-left: 58vw;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 70px;
  width: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: height 0.1s linear;
  box-shadow: -1px -1px 4px 0px rgba(141, 141, 141, 0.75);
  -webkit-box-shadow: -1px -1px 4px 0px rgba(141, 141, 141, 0.75);
  -moz-box-shadow: -1px -1px 4px 0px rgba(141, 141, 141, 0.75);

  .header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #111;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    i {
      margin-right: 20px;
      font-size: 20px;
      margin-bottom: 10px;
      padding: 10px 11px;
      border-radius: 50px;
      transition: all 0.1s linear;
      color: #fff;
      margin-top: 15px;
      
      &:active {
        color: #fff;
        background-color: #555;
      }
    }

    p {
      font-size: 20px;
      margin-top: 15px;
      color: #fff;
      margin-left: 20px;
    }
  }

  #items {
    padding-left: 30px;
    padding-right: 10px;
    height: 74%;
    overflow-y: scroll;
    padding-right: 20px;
    .item {
      display: flex;
      justify-content: space-between;

      .name {
        font-size: 20px;
      }

      .price {
        font-size: 17px;
        margin-top: 5px;
      }
    }
  }

  #panel-footer {
    padding: 0 20px;
  }
}
