<table class="ui celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
    </tr></thead>
    <tbody>
      <% items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= link_to 'Show', item, style: "text-decoration: none" %></td>
        <td><%= link_to 'Edit', edit_category_path(item), style: "text-decoration: none" %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, style: "text-decoration: none" %></td>
      </tr>
    <% end %>
  </table>