<h1 class="mt-4 ">Categories</h1>
<% if user_signed_in? && current_user.admin? %>
    <%= link_to "View Deactivated Categories", deactivated_categories_path, style: "text-decoration: none" %>
<% end %>
<hr class="mb-5">

<%= render 'list', items:@categories %>

<div class="my-5 pb-5">
    <%= will_paginate renderer: WillPaginateSemanticUi::ActionView::Renderer %>
</div>